#registry{
    width: 100%;
    height: 650px;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg);
    main{
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 50px 20px;
    }
}
.c-registry{
    width: 360px;
    border-radius: 2px;
    background-color: #fff;
    float: right;
}
.c-registry-top{
    height: 50px;
    width: 300px;
    padding: 0 30px;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
    .c-registry-switch{
        float: right;
        font-size: 14px;
        .login-in{
            color: #f10180;
        }
    }
    h3{
        font-size: 18px;
        color: #666;
    }
}
.c-registry-body{
    width: 300px;
    padding:30px;
    form{
        width: 100%;
        height: 100%;
        .inp{
            width: 300px;
            height: 46px;
            border: 1px solid #d2c2d2;
            border-radius: 3px;
            margin-bottom: 30px;  
            outline: none;
            .user,.tel,.password,.n-password{
                margin-left: 40px;
                width: 230px;
                height: 32px;
                line-height: 32px;
                margin-top: 5px;
                border: 0;  
                color: #ccc;        
            }
        }
        .password-strong{
            width: 100%;
            height: 12px;
            margin-top: 15px;
            .strong-box{
                float: left;
                width: 40px;
                margin-top: 3px;
                height: 10px;
                background: #eee;
                .ruo{
                    width: 33%;
                    height: 100%;
                    float: left;
                    background: pink;
                }
                .zhong{
                    width: 33%;
                    height: 100%;
                    float: left;
                    background: orange;
                }
                .qiang{
                    width: 33%;
                    height: 100%;
                    float: left;
                    background: green;
                }
            }
            .strong-txt{
                float: left;
                margin-left: 5px;
                font-size: 12px;
            }
        }
        .buttonnum{
            background-color: #fcedf2;
            border: 1px solid #ffbee0;
        }
    }
}
.finish{
    width: 300px;
    height: 42px;
    margin-bottom: 20px; 
    input{
        width: 100%;
        height: 100%;
        color: #fff;
        background: #e00078;
        border: 0;
        border-radius: 3px;
        font-size: 16px;
    }
}