@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

//头部
#header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #f3168a;
}
.header-inner{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    .c-logo{
        width: 125px;
        height: 100px;
        float: left;
        a{
            background-image: url(http://member-ssl.vipstatic.com/img/passport/sprites-hash-37a2448b.png?3377aaf5);
            background-position: -308px -57px;
            width: 125px;
            height: 100px;
            display: inline-block;
        }
    }
    .c-service{
        width: 304px;
        height: 100px;
        float: right;
        background: url(http://member-ssl.vipstatic.com/img/passport/sprites-hash-37a2448b.png?3377aaf5) no-repeat 0 0;
    }
}
//购物车
@import "c-cart";