@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* ****************头部******************* */
@import "header";
/* ****************banner******************* */
@import "banner";
/* **************每日热卖***************** */
@import "hotsale";
/* **************今日商品***************** */ 
@import "today";
/* **************女装***************** */ 
@import "wdress";
/* **************鞋包***************** */ 
@import "shoebag";
/* **************明日预告***************** */ 
@import "tomorrow";
/* **************toolbar***************** */ 
@import "toolbar";
/* **************尾部***************** */ 
@import "footer";
 

