* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  width: 100%;
  height: 100px;
}

.header-inner {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.header-inner .c-logo {
  width: 125px;
  height: 100px;
  float: left;
}
.header-inner .c-logo a {
  background-image: url(http://member-ssl.vipstatic.com/img/passport/sprites-hash-37a2448b.png?3377aaf5);
  background-position: -308px -57px;
  width: 125px;
  height: 100px;
  display: inline-block;
}
.header-inner .c-service {
  width: 304px;
  height: 100px;
  float: right;
  background: url(http://member-ssl.vipstatic.com/img/passport/sprites-hash-37a2448b.png?3377aaf5) no-repeat 0 0;
}

#registry {
  width: 100%;
  height: 650px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg);
}
#registry main {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 20px;
}

.c-registry {
  width: 360px;
  border-radius: 2px;
  background-color: #fff;
  float: right;
}

.c-registry-top {
  height: 50px;
  width: 300px;
  padding: 0 30px;
  line-height: 50px;
  border-bottom: 1px solid #e0e0e0;
}
.c-registry-top .c-registry-switch {
  float: right;
  font-size: 14px;
}
.c-registry-top .c-registry-switch .login-in {
  color: #f10180;
}
.c-registry-top h3 {
  font-size: 18px;
  color: #666;
}

.c-registry-body {
  width: 300px;
  padding: 30px;
}
.c-registry-body form {
  width: 100%;
  height: 100%;
}
.c-registry-body form .inp {
  width: 300px;
  height: 46px;
  border: 1px solid #d2c2d2;
  border-radius: 3px;
  margin-bottom: 30px;
  outline: none;
}
.c-registry-body form .inp .user, .c-registry-body form .inp .tel, .c-registry-body form .inp .password, .c-registry-body form .inp .n-password {
  margin-left: 40px;
  width: 230px;
  height: 32px;
  line-height: 32px;
  margin-top: 5px;
  border: 0;
  color: #ccc;
}
.c-registry-body form .password-strong {
  width: 100%;
  height: 12px;
  margin-top: 15px;
}
.c-registry-body form .password-strong .strong-box {
  float: left;
  width: 40px;
  margin-top: 3px;
  height: 10px;
  background: #eee;
}
.c-registry-body form .password-strong .strong-box .ruo {
  width: 33%;
  height: 100%;
  float: left;
  background: pink;
}
.c-registry-body form .password-strong .strong-box .zhong {
  width: 33%;
  height: 100%;
  float: left;
  background: orange;
}
.c-registry-body form .password-strong .strong-box .qiang {
  width: 33%;
  height: 100%;
  float: left;
  background: green;
}
.c-registry-body form .password-strong .strong-txt {
  float: left;
  margin-left: 5px;
  font-size: 12px;
}
.c-registry-body form .buttonnum {
  background-color: #fcedf2;
  border: 1px solid #ffbee0;
}

.finish {
  width: 300px;
  height: 42px;
  margin-bottom: 20px;
}
.finish input {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #e00078;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
}

#footer {
  width: 100%;
  height: 78px;
}
#footer p {
  width: 1000px;
  height: 78px;
  margin: 0 auto;
  color: #666;
  text-align: center;
  line-height: 78px;
}

/*# sourceMappingURL=registry.css.map */
